@{
	ViewBag.Title= "Website Bất Động Sản số 1 Nha Trang";
    Layout ="~/Views/_Layout.cshtml";
}

	<!--tin tức nổi bật-->
	<div class=" row news0">
		<div class="col-12 mb-3  news1">
			<h2>Thông Tin Bất Động Sản Nha Trang Mới Nhất</h2>
			<p>Trước khi đầu tư hãy tìm hiểu kỹ thông tin về bất động sản Nha Trang. Dưới đây là những</p>
			<p>thông tin bổ ích và chính thống được chúng tôi chia sẻ.</p>
		</div>
		<div class="col-6 mb-3 news2">
			<div class="carousel-inner">
				<img src="img/nhatrang2.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<a href=""><h5>Khánh Hòa: Khu Kinh tế Vân Phong thu hút hàng loạt tập đoàn lớn quan tâm và đề xuất đầu tư các dự án nghìn tỷ</h5></a>
					<p><ion-icon name="calendar-outline"></ion-icon>12/01/2022</p>
				</div>
			</div>

		</div>
		<div class="col-6 mb-3 news3">
			<div class="card mb-3" style="max-width: 680px;">
				<div class="row no-gutters">
					<div class="card-body col-md-4">
						<img src="img/nhatrang2.jpg" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<a href=""><h5 class="card-title">Khánh Hòa lên cơn sốt vì xu hướng “bỏ phố về quê” Đất nghỉ dưỡng xã Suối Tiên lên ngôi</h5></a>
							<p class="card-text"><ion-icon name="calendar-outline"></ion-icon><small class="text-muted">30/12/2021</small></p>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-3" style="max-width: 680px;">
				<div class="row no-gutters">
					<div class="card-body col-md-4">
						<img src="img/nhatrang2.jpg" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<a href=""><h5 class="card-title">Khánh Hòa lên cơn sốt vì xu hướng “bỏ phố về quê” Đất nghỉ dưỡng xã Suối Tiên lên ngôi</h5></a>
							<p class="card-text"><ion-icon name="calendar-outline"></ion-icon><small class="text-muted">30/12/2021</small></p>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-3" style="max-width: 680px;">
				<div class="row no-gutters">
					<div class="card-body col-md-4">
						<img src="img/nhatrang2.jpg" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<a href=""><h5 class="card-title">Khánh Hòa lên cơn sốt vì xu hướng “bỏ phố về quê” Đất nghỉ dưỡng xã Suối Tiên lên ngôi</h5></a>
							<p class="card-text"><ion-icon name="calendar-outline"></ion-icon><small class="text-muted">30/12/2021</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


